#header {
	font: bold 36pt "Comic Sans MS";
	background-color: #ddd
}

.green {
	color: #32cd32;
}

.bold {
	font-weight: bold;
}

#logo {
	margin: 10px;
	padding: 0px;
}

#title {
	vertical-align: 60px;
}