body {
	margin: 0px;
	font: 13pt sans-serif;
}

header {
	font: bold 36pt "Comic Sans MS";
	background-color: #ddd
}

.green {
	color: #32cd32;
}

.bold {
	font-weight: bold;
}

#logo {
	margin: 10px;
	margin-bottom: 0px;
	padding: 0px;
}

#title {
	vertical-align: 35px;
	color: #32cd32;
}

footer {
	padding: 10px;
}

#main {
	margin: 0px 150px;
	background-color: #fff;
}

#bground {
	background-color: #32cd32;
}