<table id="contacts">
	<tr class="bottom-border">
	<td colspan="2" id="tt" class="funny">Наши интернет-ресурсы</td>
	</tr>
	<tr>
		<td rowspan="2"><img src="/img/tg.png" alt="Telegram" class="icon" /></td>
		<td><a href="http://t.me/zelkor" target="_blank">Канал в Telegram</a></td>
	</tr>
	<tr class="bottom-border">
		<td><a href="http://t.me/zelchat" target="_blank">Чат в Telegram</a></td>
	</tr>
	<tr class="bottom-border">
		<td><img src="/img/vk.png" alt="VK" class="icon" /></td>
		<td><a href="http://vk.com/greenchan" target="_blank">Паблик ВКонтакте</a>
	</tr>
	<tr class="bottom-border">
		<td><img src="/img/twitter.png" alt="Twitter" class="icon" /></td>
		<td><a href="http://twitter.com/zelkor1543" target="_blank">Наш Twitter</a></td>
	</tr>
	<tr class="bottom-border">
	<td colspan="2">Наш e-mail: <a href="mailto:main@zelkor.ml">main@zelkor.ml</a></td>
	</tr>
	<tr>
	<td colspan="2"><a href="http://bit.ly/ZelKorNews" target="_blank">Наша e-mail рассылка</a></td>
	</tr>
</table>