<p>«<span class="green bold">Зелёный коридор</span>» - это самодеятельная

экологическая организация гимназии №1543. Мы

любим этот прекрасный мир и хотим спасти его,

проложить надёжный мост в экологически чистое

будущее. Хотите с нами? Вперёд!</p>

<p>На сайте вы найдёте последние новости о

нашей деятельности, рассказы о проектах по защите

природы, экологические исследования, все выпуски

газеты «Базилик», наши интернет-ресурсы, а если вам интересно, то и историю

организации, а также рассказы о тех, кто здесь работает.</p>