<p>«<span class="green">Зелёный коридор</span>» - это самодеятельная

экологическая организация гимназии №1543. Мы

любим природу и работаем, чтобы мир оставался

зелёным, цветущим и живым: проводим

мероприятия по раздельному сбору мусора,

рассказываем людям о проблемах окружающей

среды и многое другое.</p>

<p>Этот сайт сделает участие в наших проектах интереснее и позволит вам больше узнать о нас. Помните, что в данный момент историю творите вы!</p>
<p><span class="bold italic">Ваши овации создателю сайта, инженеру Илье Денисьеву!</span></p>