<p>«<span class="green">Зелёный коридор</span>» - это самодеятельная

экологическая организация гимназии № 1543. Мы

любим природу и работаем, чтобы мир оставался

зелёным, цветущим и живым: проводим

мероприятия по раздельному сбору мусора,

рассказываем людям о проблемах окружающей

среды и многое другое.</p>

<p>На сайте вы найдёте последние новости о

нашей деятельности, рассказы о проектах по защите

природы, экологические исследования, все выпуски

газеты «Базилик», наши интернет-ресурсы, а если вам интересно, то и историю

организации, а также рассказы о тех, кто здесь работает.</p>