<nav>
  <a href="/orgnews" {% if page.url contains 'orgnews' %}class="selected"{% endif %}>Новости организации</a>
  <a href="/projects" {% if page.url contains 'projects' %}class="selected"{% endif %}>Проекты</a>
  <a href="/journalism" {% if page.url contains 'journalism' or page.url contains 'j_articles' %}class="selected"{% endif %}>Журналистика</a>
  <a href="/basil" {% if page.url contains 'basil' %}class="selected"{% endif %}>"Базилик"</a>
  <a href="/about" {% if page.url contains 'about' %}class="selected"{% endif %}>О нас</a>
  <a href="/search" {% if page.url contains 'search' %}class="selected"{% endif
  %}>Поиск</a>
</nav>