<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" lang="ru" xml:lang="ru">
  <head>
    <title>{% if page.title %}{{page.title}} | {% endif %}Зелёный коридор{% if page.titleAfter %} | {{page.titleAfter}}{% endif %}</title>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
    <meta name="description" content="{{page.meta}}" />
    <link href='http://zelkor.ml/feed.xml' rel='alternate' type='application/atom+xml' />
    <link rel="shortcut icon" href="/img/icon.png" />
    <link type="text/css" rel="stylesheet" href="/css/rotonda.css" />
    <link type="text/css" rel="stylesheet" href="/css/main.css" />
    <link type="text/css" rel="stylesheet" href="/css/mobile.css" />
    <script type="text/javascript" src="/js/prefixfree.min.js"></script>
    <!-- <script type="text/javascript" src="/simplebox/simplebox_util.js"></script>
    <script type="text/javascript">
    (function(){
    var boxes=[],els,i,l;
    if(document.querySelectorAll){
    els=document.querySelectorAll('a[rel=simplebox]');  
    Box.getStyles('simplebox_css','/simplebox/simplebox.css');
    Box.getScripts('simplebox_js','/simplebox/simplebox.js',function(){
    simplebox.init();
    for(i=0,l=els.length;i<l;++i)
    simplebox.start(els[i]);
    simplebox.start('a[rel=simplebox_group]');      
    });
    }
    })();</script> -->
    {% if page.layout != 'post' %}<script type="text/javascript" src="/js/resize.js"></script>{% endif %}
  </head>
  <body>
    <header>
      <img src="/img/logo3.png" alt="Лого" id="logo" />
      <a href="/" id="title">Зелёный коридор</a><br />
      <span id="slogan">Один листок - один мир!</span>
      <div class="nav">
      <button class="nav-toggle">
    <span class="bar-top"></span>
    <span class="bar-mid"></span>
    <span class="bar-bot"></span>
  </button>
  </div>
  <script type="text/javascript">
  (function () {
  var toggle = document.querySelector('.nav-toggle');
  
  toggle.addEventListener('click', function(e) {
    this.classList.toggle('opened');
  });
})();
</script>
   </header>
   <div id="background"><div id="main">
    {{content}}
    </div></div>
    <footer>
    © СЭО "<span class="green"> Зелёный коридор</span>", 2015-2017
    <div style="float: right;"><a href="http://1543.ru" target="_blank" class="no-visited">Сайт гимназии №1543</a></div>
    </footer>
    {% include nav.html %}
    {% include contacts.html %}
  </body>
</html>