<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" lang="ru" xml:lang="ru">
	<head>
		<title>Зелёный коридор</title>
		<meta charset="utf-8" />
		<link rel="shortcut icon" href="img/icon.png" />
		<link type="text/css" rel="stylesheet" href="css/main.css" />
	</head>
	<body>
		<header>
			<img src="img/logo3.png" alt="Лого" id="logo" />
			<span id="title">Зелёный коридор</span><br />
			<span id="slogan">Один листок - один мир!</span>
		</header>
		<div id="background"><div id="main">
		{{content}}
		</div></div>
		<footer>
		СЭО "<span class="green">Зелёный коридор</span>", 2015-2017
		</footer>
	</body>
</html>